body {
    background: #eef2f4;
}

.container {
    width: 97%;
}

.app-frame {
    min-height: 800px !important;
}

#description {
    width: 100%;
    height: 150px;
}

input {
    width: 100%;
}

select {
    width: 100%;
}

.addToCalender {
    width: 80px;
}

.biplane_options {
    width: 300px;
}

#errorbox,
#successbox,
.left.p20,
.right.p20{
    display: none;
}

#info {
    display: inline-flex;
    align-items: center;
}

#info i {
    padding-right: 10px;
}